html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .wrapper {
        flex-direction: row-reverse;
        min-height: 800px;
    }

    .one-half {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.container-content, .container-sidebar {
    width: 100%;
}

.list-a {
    padding: 10px 41px 2px 35px !important;
    margin-left: 40px;
}


.wrapper-inside {
    display: flex;
    flex-flow: wrap;
    gap: 5%;
}

.entry-title {
    font-size: 17px;
}

ul.tool-list h3.entry-title {
    font-size: 17px;
    margin-top: 10px;
}


@media (min-width: 1024px) {
    .wrapper {
        flex-direction: row-reverse;
        min-height: 800px;
    }

    .container-content {
        flex: 1 1 0%;
    }

    .container-sidebar {
        width: 270px;
    }
}

.container-tool {
    flex: 1 1 0%;
    width: 100%;
}



aside {
    max-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    border-right: 5px solid #00000077;
    padding: 0 1rem
}

h2 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    color: #c9139b;
}

aside .color {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    aside .color input[type="color"] {
        width: 100%;
        height: 60px;
        cursor: pointer;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
    }

input[type="color"]::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}

.directions {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    justify-content: center;
}

    .directions button {
        width: 45px;
        border: none;
        outline: none;
        height: 45px;
        font-size: 20px;
        border-radius: 8px;
        display: grid;
        place-items: center;
        cursor: pointer;
    }

        .directions button:hover {
            background-color: #0077cc;
            color: #fff;
        }

        .directions button.active {
            background-color: #0077cc;
            color: #fff;
        }

        .directions button.rotate {
            transform: rotate(45deg);
        }

.result {
    width: 100%;
    margin-top: 2rem;
}

    .result .code {
        width: 100%;
        min-height: 90px;
        border: 1px solid #999;
        padding: 10px;
        font-size: 17px;
        outline: none;
        border-radius: 5px;
        user-select: none;
        resize: none;
        cursor: default;
    }

        .result .code::selection {
            background-color: transparent !important;
        }

    .result .copy {
        margin-top: 10px;
        padding: 8px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #0077cc;
        color: #fff;
        border-radius: 8px;
        font-size: 16px;
    }


.random {
    padding: 8px 20px;
    height: 45px;
    border-radius: 6px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 1.2rem;
    cursor: pointer;
}

    .random:active {
        transform: scale(.9)
    }


/*solid*/
.colorone {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    .colorone input[type="color"] {
        width: 100%;
        height: 60px;
        cursor: pointer;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
    }

.resultone {
    width: 100%;
    margin-top: 2rem;
}

    .resultone .codeone {
        width: 100%;
        min-height: 90px;
        border: 1px solid #999;
        padding: 10px;
        font-size: 17px;
        outline: none;
        border-radius: 5px;
        user-select: none;
        resize: none;
        cursor: default;
    }

        .resultone .codeone::selection {
            background-color: transparent !important;
        }

    .resultone .copyone {
        margin-top: 10px;
        padding: 8px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #0077cc;
        color: #fff;
        border-radius: 8px;
        font-size: 16px;
    }


.randomone {
    padding: 8px 20px;
    height: 45px;
    border-radius: 6px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 1.2rem;
    cursor: pointer;
}

    .randomone:active {
        transform: scale(.9)
    }

.ss {
    padding: 8px 20px;
    height: 45px;
    border-radius: 6px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
}

    .ss:active {
        transform: scale(.9)
    }

.ss1 {
    padding: 8px 20px;
    height: 45px;
    border-radius: 6px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
}

    .ss1:active {
        transform: scale(.9)
    }


/*Password Generator*/
.input-box {
    position: relative;
}

    .input-box input {
        width: 100%;
        height: 53px;
        color: #000;
        background: none;
        font-size: 1.06rem;
        font-weight: 500;
        border-radius: 4px;
        letter-spacing: 1.4px;
        border: 1px solid #aaa;
        padding: 0 2.85rem 0 1rem;
    }

    .input-box span {
        position: absolute;
        right: 13px;
        cursor: pointer;
        line-height: 53px;
        color: #707070;
    }

        .input-box span:hover {
            color: #4285F4 !important;
        }

.pass-indicator {
    width: 100%;
    height: 4px;
    position: relative;
    background: #dfdfdf;
    margin-top: 0.75rem;
    border-radius: 25px;
}

    .pass-indicator::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        border-radius: inherit;
        transition: width 0.3s ease;
    }

    .pass-indicator#weak::before {
        width: 20%;
        background: #E64A4A;
    }

    .pass-indicator#medium::before {
        width: 50%;
        background: #f1c80b;
    }

    .pass-indicator#strong::before {
        width: 100%;
        background: #4285F4;
    }

.pass-length {
    margin: 1.56rem 0 1.25rem;
}

    .pass-length .details {
        display: flex;
        justify-content: space-between;
    }

    .pass-length input {
        width: 100%;
        height: 5px;
    }

.pass-settings .options {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

    .pass-settings .options .option {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        width: calc(100% / 2);
    }

.options .option:first-child {
    pointer-events: none;
}

    .options .option:first-child input {
        opacity: 0.7;
    }

.options .option input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label {
    cursor: pointer;
    color: #4f4f4f;
    padding-left: 0.63rem;
}

.generate-btn {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4285F4;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}

.converter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.inputs {
    flex: 1 1 40%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: #f9f5e0;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
    max-width: 100%;
}

::placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}