@{
    ViewData["Title"] = "Base64 To Image Page";
}

<div class="container" style="padding-top: 30px;">
    <div class="wrapper-card">
        <div class="card text-center card-convert">
            <div class="card-header">
                 <h1 class="display-4 text-center mb-3">Base 64 To Image</h1>
            </div>
            <div class="card-body">
                <button class="btn-primary" id="update">Convert</button>
            </div>
            <div class="card-footer text-muted">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">
                            <label>Base64 String</label>
                            <div class="col">
                                <textarea class="form-control" placeholder="Paste Here..." id="base64"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <img class="img-pre" alt='Paste Base64 in Left Box' id="image" />
                    </div>

                </div>
            </div>
        </div>
        <div class="container-sidebar"> veer</div>
    </div>
</div>