@{
    ViewData["Title"] = "Image To Base64 Page";
}

<div class="container" style="padding-top: 30px;">
    <div class="wrapper-card">
    <div class="card text-center card-convert">
        <div class="card-header">
           <h1 class="display-4 text-center mb-3">Image To Base 64</h1>
        </div>
        <div class="card-body">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="asd">
                    <label class="custom-file-label" for="asd">  </label>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-pre" alt='Upload Image' id="img" />
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label>Base64 String</label>
                        <div class="col">
                            <textarea class="form-control" placeholder="Please Wait..." id="base64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-sidebar"> veer</div>
    </div>
</div>