@{
    ViewData["Title"] = "Weight Convertor";
}

<div class="container" style="padding-top: 30px;">
    <div class="wrapper-card">
        <div class="card text-center card-convert">
            <div class="card-header">
                <h1 class="display-4 text-center mb-3">Weight Convertor</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form>
                            <div class="form-group" style="padding-top:4px;padding-bottom:4px;">
                                <input id="lbsInput" type="number" class="weight form-control-lg" placeholder="Enter Pounds...">
                            </div>
                        </form>
                        <div id="output">
                            <div class="card card-primary mb-2">
                                <div class="card-block">
                                    <h4>Grams:</h4>
                                    <div id="gramsOutput"></div>
                                </div>
                            </div>

                            <div class="card card-success mb-2">
                                <div class="card-block">
                                    <h4>Kilograms:</h4>
                                    <div id="kgOutput"></div>
                                </div>
                            </div>

                            <div class="card card-danger mb-2">
                                <div class="card-block">
                                    <h4>Ounces:</h4>
                                    <div id="ozOutput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-sidebar"> veer</div>
    </div>
</div>